<h1><%= @console.name %><h1>


<a href="/consoles/<%= @console.id %>/edit">Edit Console</a>
          
<ol> 
<% @console.games.each do |game| %> 
    <li><%= game.url %></li>

    <form action="/games/<%= game.id %>" method="POST"> 
    <input type="hidden" name="_method" value="delete" />
        <input type="submit" value="Delete Game">
    </form> 

    <% end %>
    </ol>

<form action="/consoles/<%= @console.id %>/games" method="POST"> 
    <input type="text" name="url" />
    <input type="submit" value="Add Game">
</form> 



